"*":
  "autocomplete-java": {}
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    minimumWordLength: 1
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-csharp"
      "autocomplete-clang"
      "vim-surround"
      "vim-mode"
      "atom-ternjs"
      "atom-terminal"
      "terminal-panel"
      "terminal-plus"
      "atom-terminal-panel"
      "autocomplete-java"
      "file-icons"
      "atom-jade"
      "linter-pug"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
    tabType: "soft"
  "exception-reporting":
    userId: "5099bc40-79ac-83b2-63f5-15819eee642e"
  "file-icons":
    onChanges: true
  "fuzzy-finder":
    ignoredNames: [
      ".log"
      "bower_components"
      "node_modules"
    ]
  "git-plus":
    general:
      _analyticsUserId: "21a4f9ce-f814-49b5-91fa-7216e5305685"
  "keyboard-localization":
    useKeyboardLayout: "pt_BR"
  linter:
    errorPanelHeight: 23
    lintOnFly: false
    statusIconScope: "File"
  "linter-gcc": {}
  "linter-jshint":
    lintInlineJavaScript: true
  "seti-ui":
    compactView: true
    disableAnimations: true
  "terminal-panel":
    logConsole: true
  welcome:
    showOnStartup: false
